.Posts {
    display: flex;
}
.No_sort {
    display: flex;
}
.Reverse_sort {
    display: flex;
}

.Pagination {
    justify-content: center;
    display: flex;
}
.widget-svg {
    width: 20px !important;
    height: 20px;
}
.star-ratings {
    margin-top: -50px;
}
.Posts {
    margin-top: 66px;
}